@use '../../abstracts/mixins';

.state-button {
	--transition-time: 0.35s;
	--transition-function: ease-in-out;

	/* sizing */
	display: inline-block;
	padding-block: 1.25em;
	padding-inline: 1.75em;

	/* typography */
	font-family: var(--theme-font);
	font-size: var(--fz-250, 1.4rem);
	font-weight: var(--fw-bold, 700);
	color: var(--clr-neutral-400);

	/* appearance */
	background: none;
	border: none;
	border-radius: var(--borr-pill, 2rem);

	/* other */
	opacity: 0.4;
	transition: opacity var(--transition-time) var(--transition-function),
		background-color var(--transition-time) var(--transition-function);
	cursor: pointer;

	&:hover,
	&:focus-visible {
		opacity: 1;
	}

	&[data-active] {
		color: var(--clr-neutral-700);
		background-color: var(--theme-colour);
		opacity: 1;
	}
}
